In [1]:
import numpy as np
import pandas as pd 
from pandas import Series,DataFrame

In [2]:
s = Series([1,2,33,42,5,4])
s

0     1
1     2
2    33
3    42
4     5
5     4
dtype: int64

In [3]:
s.index

RangeIndex(start=0, stop=6, step=1)

s.index will create an RangeIndex object which is not callable

In [4]:
ww_2 = Series([8700000,4300000,3000000,2100000,400000],index=list('abcde'))

ww_2

a    8700000
b    4300000
c    3000000
d    2100000
e     400000
dtype: int64

In [5]:
ww_2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [6]:
ww_2.values

array([8700000, 4300000, 3000000, 2100000,  400000], dtype=int64)

In [7]:
ww_2['a']

8700000

In [8]:
'a' in ww_2

True

In [9]:
8700000 in ww_2

False

In [10]:
ww_2.to_dict()

{'a': 8700000, 'b': 4300000, 'c': 3000000, 'd': 2100000, 'e': 400000}

In [11]:
Series(ww_2.to_dict())

a    8700000
b    4300000
c    3000000
d    2100000
e     400000
dtype: int64

In [13]:
ww_2.isnull()

a    False
b    False
c    False
d    False
e    False
dtype: bool

In [14]:
pd.isnull(ww_2)

a    False
b    False
c    False
d    False
e    False
dtype: bool

In [16]:
ww_2.index.name = 'alhpa'  # index names

In [19]:
ww_2.name = 'First series'  # name for series

In [20]:
ww_2

alhpa
a    8700000
b    4300000
c    3000000
d    2100000
e     400000
Name: First series, dtype: int64

In [23]:
ww_2[ww_2 > 4000000]

alhpa
a    8700000
b    4300000
Name: First series, dtype: int64