In [1]:
import pandas as pd 
import numpy as np
from pandas import Series,DataFrame

In [2]:
df = DataFrame(np.arange(4),index=list('abcd'))

In [3]:
df

   0
a  0
b  1
c  2
d  3

In [4]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [5]:
df.index[2]

'c'

In [6]:
'a' in df.index

True

In [7]:
df.index.has_duplicates

False

# ReIndexing on series

In [8]:
ser_1 = Series([21,3,3,435],index=['A','B','C','D'])

ser_1

A     21
B      3
C      3
D    435
dtype: int64

In [9]:
# Let's reindex
ser_1 = ser_1.reindex(['A','B','C','D','E'])
ser_1

A     21.0
B      3.0
C      3.0
D    435.0
E      NaN
dtype: float64

In [10]:
ser_1 = ser_1.reindex(['A','B','C','D','E','F','G'],fill_value=0)  # if y
ser_1

A     21.0
B      3.0
C      3.0
D    435.0
E      NaN
F      0.0
G      0.0
dtype: float64

# Reindexing on DataFrame

In [11]:
dframe = DataFrame(np.random.randn(25).reshape((5,5)),
                  index= ['a','b','c','d','e'],
                  columns=['col1','col2','col3','col4','col5'])

dframe

       col1      col2      col3      col4      col5
a  0.982448 -1.555606  0.350325  0.420281  0.483136
b -0.331550  0.708939 -1.202948 -0.112843 -0.540862
c  0.444878 -0.510774 -0.577179  0.000493  2.138209
d  0.137110 -0.464989 -0.578659  0.513150  0.962889
e  1.270276 -0.636281 -0.473939  0.573955 -0.990352

In [12]:
# reindexing on axis 0 (on index)

dframe.reindex(index=['a','b','c','d','e','f'])

       col1      col2      col3      col4      col5
a  0.982448 -1.555606  0.350325  0.420281  0.483136
b -0.331550  0.708939 -1.202948 -0.112843 -0.540862
c  0.444878 -0.510774 -0.577179  0.000493  2.138209
d  0.137110 -0.464989 -0.578659  0.513150  0.962889
e  1.270276 -0.636281 -0.473939  0.573955 -0.990352
f       NaN       NaN       NaN       NaN       NaN

In [13]:
# reindexing in axis 1 (on column)

dframe.reindex(columns=['col1','col2','col3','col4','col5','col6'])

       col1      col2      col3      col4      col5  col6
a  0.982448 -1.555606  0.350325  0.420281  0.483136   NaN
b -0.331550  0.708939 -1.202948 -0.112843 -0.540862   NaN
c  0.444878 -0.510774 -0.577179  0.000493  2.138209   NaN
d  0.137110 -0.464989 -0.578659  0.513150  0.962889   NaN
e  1.270276 -0.636281 -0.473939  0.573955 -0.990352   NaN

If you want to reindex both columns and rows all at once

In [14]:
dframe.ix[['a','b','c','d','e','f'],
            ['col1','col2','col3','col4','col5','col6']]

C:\Users\shubham\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

       col1      col2      col3      col4      col5  col6
a  0.982448 -1.555606  0.350325  0.420281  0.483136   NaN
b -0.331550  0.708939 -1.202948 -0.112843 -0.540862   NaN
c  0.444878 -0.510774 -0.577179  0.000493  2.138209   NaN
d  0.137110 -0.464989 -0.578659  0.513150  0.962889   NaN
e  1.270276 -0.636281 -0.473939  0.573955 -0.990352   NaN
f       NaN       NaN       NaN       NaN       NaN   NaN

                                            DROP ENTRIES

In [15]:
dframe

       col1      col2      col3      col4      col5
a  0.982448 -1.555606  0.350325  0.420281  0.483136
b -0.331550  0.708939 -1.202948 -0.112843 -0.540862
c  0.444878 -0.510774 -0.577179  0.000493  2.138209
d  0.137110 -0.464989 -0.578659  0.513150  0.962889
e  1.270276 -0.636281 -0.473939  0.573955 -0.990352

In [16]:
# let's drop entries in index "c"

In [18]:
dframe.drop('a')

       col1      col2      col3      col4      col5
b -0.331550  0.708939 -1.202948 -0.112843 -0.540862
c  0.444878 -0.510774 -0.577179  0.000493  2.138209
d  0.137110 -0.464989 -0.578659  0.513150  0.962889
e  1.270276 -0.636281 -0.473939  0.573955 -0.990352

In [20]:
# to drop entries in columns

dframe.drop('col1',axis=1)

       col2      col3      col4      col5
a -1.555606  0.350325  0.420281  0.483136
b  0.708939 -1.202948 -0.112843 -0.540862
c -0.510774 -0.577179  0.000493  2.138209
d -0.464989 -0.578659  0.513150  0.962889
e -0.636281 -0.473939  0.573955 -0.990352