# Ways of selecting, indexing entries from Series and DataFrame

                                            FROM SERIES

In [1]:
import pandas as pd 
import numpy as np
from pandas import Series,DataFrame

In [8]:
ser = Series(np.arange(4),index=list('abcd'))

ser_1 = ser*2
ser_1

a    0
b    2
c    4
d    6
dtype: int32

In [10]:
ser_1['c']

4

In [11]:
ser_1[2]   # both ways

4

                                            FROM DATAFRAME

In [27]:
dframe = DataFrame(np.random.randn(16).reshape(4,4),
                  index=list('qwer'),
                  columns=['col1','col2','col3','col4'])

dframe

       col1      col2      col3      col4
q -0.720704 -1.140217  0.201584  0.089938
w  0.102603  0.632094  1.240116  1.300960
e -1.235631 -1.736038  1.072836  2.004971
r -1.601659  0.065152 -0.244789 -1.006127

In [28]:
dframe['e']  # this will throgh a erroe coz i have to specift the axis = 0 to select entries by index values

KeyError: 'e'

In [ ]:
dframe.loc['e']

In [ ]:
dframe

In [29]:
dframe['col1']

q   -0.720704
w    0.102603
e   -1.235631
r   -1.601659
Name: col1, dtype: float64

In [34]:
dframe['col1']>0

q    False
w     True
e    False
r    False
Name: col1, dtype: bool

In [38]:
dframe[ dframe['col1'] > 0]

       col1      col2      col3     col4
w  0.102603  0.632094  1.240116  1.30096

In [39]:
dframe

       col1      col2      col3      col4
q -0.720704 -1.140217  0.201584  0.089938
w  0.102603  0.632094  1.240116  1.300960
e -1.235631 -1.736038  1.072836  2.004971
r -1.601659  0.065152 -0.244789 -1.006127

In [43]:
dframe.loc['w',['col2']]

col2    0.632094
Name: w, dtype: float64

In [47]:
dframe.loc[:'w',['col1','col3']]

       col1      col3
q -0.720704  0.201584
w  0.102603  1.240116