# Map

map(name of a function,sequence)

Links :- https://www.python-course.eu/lambda.php

In [48]:
# program to convert F to C 

def fahr(T):
    print(((9/5)*T) + 32)

In [20]:
fahr(0)

32.0

In [21]:
# instead of passing just one value at once we can pass out mutiple value using list 

temp_list = [0,12,42,1,123]

In [26]:
a = map(fahr,temp_list)
list(a)

32.0
53.6
107.60000000000001
33.8
253.4

[None, None, None, None, None]

In [30]:
# use can lambda too 

list(map(lambda T : (9/5)*T + 32 , temp_list))  # to get actual print

[32.0, 53.6, 107.60000000000001, 33.8, 253.4]

You can also pass three arguments in lambda and  in map() funtion two

In [34]:
a = [1,2,3]
b = [4,5,6]
c = [7,8,9,10]

list(map(lambda x,y,z : x+y+z ,a,b,c))

# this takes a[0] add it with b[0] and so on and return the output

[12, 15, 18]

# Reduce

It works just like map() funtion , instead it takes a funtion apply it to two element of the sequence
then takes the result of those two element and apply that to third element and continue like this until
only one element left and return that element as output of reduce()

To actually use reduce you have import it from functools

In [36]:
lst = [1,23,324,53]

In [46]:
from functools import reduce

In [47]:
reduce(lambda x,y : x if x>y else y , lst)

324

# Filter

It inculde only True results of a function in the optput for applied sequence

In [56]:
# to get even number 

list(filter(lambda x: x%2==0,list(range(12))))

[0, 2, 4, 6, 8, 10]

# Zip

In [63]:
a = [1,2,3]
b = [4,5,6,7]

list(zip(a,b))  # returns list of tuples

[(1, 4), (2, 5), (3, 6)]

In [65]:
list(map(lambda x : max(x),zip(a,b)))

[4, 5, 6]

In [77]:
d = {'a':2,'b':4}
d1 = {'c':10,'d':5}

In [78]:
list(zip(d,d1)) # zip only the keys

[('a', 'c'), ('b', 'd')]

In [79]:
list(zip(d,d1.values()))  # to iterate over values

[('a', 10), ('b', 5)]