In [1]:
import pandas as pd 
import numpy as np
from pandas import Series,DataFrame

In [7]:
df = DataFrame({'key1':['a','a','b','b','a'],
                'key2':['one','two','one','two','one'],
               'data2': 20 + np.arange(5),
               'data1': 10 +np.arange(5)})
df

   data1  data2 key1 key2
0     10     20    a  one
1     11     21    a  two
2     12     22    b  one
3     13     23    b  two
4     14     24    a  one

In [20]:
grouped=df['data1'].groupby(df['key1'])

In [21]:
grouped.mean()

key1
a    11.666667
b    12.500000
Name: data1, dtype: float64

In [22]:
grouped.size()  # to check the number of terms in each groups

key1
a    3
b    2
Name: data1, dtype: int64

In [23]:
# using both keys to group by

gp_2 = df.groupby(['key1','key2'])  # using column names to specify the keys

In [61]:
gp_2.mean()

           data1  data2
key1 key2
a    one      12     22
     two      11     21
b    one      12     22
     two      13     23

# Iterating over Groups

In [62]:
for name,group in df.groupby('key1'):
    print("This is group name %s " %name)
    print('/n')
    print(group)

This is group name a
/n
   data1  data2 key1 key2
0     10     20    a  one
1     11     21    a  two
4     14     24    a  one
This is group name b
/n
   data1  data2 key1 key2
2     12     22    b  one
3     13     23    b  two

In [63]:
for (k1,k2),group in df.groupby(['key1','key2']):
    print("These are the keys %s %s "   %(k1,k2))
 
    print(group)

These are the keys a one
   data1  data2 key1 key2
0     10     20    a  one
4     14     24    a  one
These are the keys a two
   data1  data2 key1 key2
1     11     21    a  two
These are the keys b one
   data1  data2 key1 key2
2     12     22    b  one
These are the keys b two
   data1  data2 key1 key2
3     13     23    b  two

In [64]:
dict(list(df.groupby('key1')))

{'a':    data1  data2 key1 key2
 0     10     20    a  one
 1     11     21    a  two
 4     14     24    a  one, 'b':    data1  data2 key1 key2
 2     12     22    b  one
 3     13     23    b  two}